:root{
    --vinho: #4d100b;
    --bege: #d5675e;
    --laranja1: #cc2b1d;
    --vinho2: #512622;
    --laranja2: #992015;
}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: #992015;
    font-family: robo;
}
header h1 {
    color: white;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}

nav{
    display: block;
    margin-top: 30px;
}

nav li{
    text-align: center;
    width: 180px;
    height: 30px;
    background-color: black;
    float: left;
    text-decoration: none;
    list-style: none;
    margin-top: 80px;
}

nav li a{
    color: white;
    text-decoration: none;
    
}

.lista::before{
    color: white;
    content: "|";
    padding-right: 50px;
}

#home::before{
    content: "";
    color: black;
}


@font-face{
    font-family: robo;
    src: url("./font/Roboto/Roboto-Black.ttf");
}

@font-face{
    font-family: opensans;
    src: url("./font/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--laranja1);
}
aside{
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--laranja2);
}

input{
    width: 340px;
    height: 30px;
    display: block;
    padding-left: 3px;
    margin-left: 18px;
    margin-top: 20px;
    
    border: 1.4px solid black;
    
}
.busca input{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}
#div1{
    display: block;
    width: 335px;
    height: 30px;
    background-color: black;
    margin-top: 20px;
    color: white;
    margin-left: 20px;
    font-size: 15px;
    padding-top: 13px;
    padding-left: 10px;
    font-family: robo;
}

#lista1{
    display: block;
    width: 309px;
    height: 200px;
    background-color: white;
    padding-left: 35px;
    padding-top: 2px;
    margin-left: 20px;
    line-height: 25px;   
    font-family: opensans;
}

.as{
    text-decoration: none;
    color: black;
}

#div2{
    display: block;
    width: 100%;
    height: 450px;
    margin-top: 13px;
}

.imgs{
    display: block;
    width: 160px;
    height: 120px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
}

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--vinho);
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.restaurante-caro {
    width: 94.5%;
    height: 300px;
    margin-left: 25px;
    margin-top: 50px;
    border: 1px solid black;
    
}

.restaurante-caro h2 {
    width: 100%;
    height: 35px;
    background-color: var(--vinho);
    color: white;
    align-items: center;
    font-family: "robo";
    

}

.restaurante-caro img {
    width: 40%;
    height: 200px;
    margin-top: 35px;
    margin-left: 40px;
    border: 1px solid white;
    float: left;

}

.restaurante-caro h3 {
    width: 30%;
    float: right;
    height: 30px;
    margin-right: 180px;
    font-size: 23px;
    color: white;
    margin-top: 40px;
    font-family: "robo";
}


.restaurante-caro p {
    width: 48%;
    float: right;
    height: 100px;
    margin-right: 3%;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-family: "robo";
}



.restaurante-moderado {
    width: 45.5%;
    height: 350px;
    display: block;
    float: left;
    margin-left: 25px;
    margin-top: 6%;
    border: 1px solid black;    
    font-family: "robo";
}

.restaurante-moderado h2{
    display: block;
    background-color: var(--vinho);
    width: 100%;
    height: 30px;
    color: white;

}

.restaurante-moderado h3 {
    color: white;
    margin-top: 3%;
    margin-left: 2%;

}

.restaurante-moderado p {
    color: white;
    margin-top: 3%;
    margin-left: 2%;
}

.restaurante-moderado button{
    margin-left: 80%;
    margin-top: 2%;
}

.restaurante-moderado h4 {
    text-align: center;
    margin-top: 3%;
    color: white;
    display: block;
    width: 100%;
    height: 25px;
    background-color: var(--vinho);

}

.restaurante-moderado ul{
    color: white;
    margin-left: 5%;
    margin-top: 3%;

}



.restaurante-barato {
    width: 45.5%;
    height: 350px;
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 6%;
    border: 1px solid black;
}


p strong {
    color: rgb(174, 171, 171);
}

.restaurante-caro button {
    margin-top: 3%;
    margin-left: 40%;
}

.restaurante-barato {
    width: 45.5%;
    height: 350px;
    display: block;
    float: left;
    margin-left: 25px;
    margin-top: 6%;
    border: 1px solid black;    
    font-family: "robo";
}

.restaurante-barato h2{
    display: block;
    background-color: var(--vinho);
    width: 100%;
    height: 30px;
    color: white;

}

.restaurante-barato h3 {
    color: white;
    margin-top: 3%;
    margin-left: 2%;

}

.restaurante-barato p {
    color: white;
    margin-top: 3%;
    margin-left: 2%;
}

.restaurante-barato button{
    margin-left: 80%;
    margin-top: 2%;
}

.restaurante-barato h4 {
    text-align: center;
    margin-top: 3%;
    color: white;
    display: block;
    width: 100%;
    height: 25px;
    background-color: var(--vinho);

}

.restaurante-barato ul{
    color: white;
    margin-left: 5%;
    margin-top: 3%;

}

/* Estilo do footer*/
footer{
        
        text-align: center;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.footer-conteúdo{
        display: flex;
        flex-direction: column;
    
 }
.footer-conteúdo p{
        margin: 5px;   
}


.link-Github{
        float: left;
        margin-left: 380px;
}

.link-Github a{
        color: white;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
